<script lang="ts" setup>
import BookStatusBar from "../../common/component/BookStatusBar.vue";

import conf from "../config.json";
</script>
<template>
  <BookStatusBar
    :book_id="conf.id"
    :index_urlpath="`/${conf.id}/${conf.index_fileid}`"
    :pdf_filename_prefix="conf.title"
  />
</template>
