body {
  visibility: collapse;
}

main {
  visibility: visible;
}

:not(main *) {
  margin: 0px !important;
  padding: 0px !important;
  min-height: 0px !important;
  height: 0px !important;
}

@media print {
  html,
  body {
    width: 21cm;
    height: 29.7cm;
  }
}
