<template>
  <div>
    <div>
      <table>
        <tr>
          <th>构建于</th>
          <th>版本号</th>
          <th>Git 分支名</th>
          <th>Git 哈希</th>
        </tr>
        <tr>
          <td>{{ consts.APP_BUILD_TIME }}</td>
          <td>{{ pj.version }}</td>
          <td>{{ consts.APP_GIT_NAME_REV }}</td>
          <td>{{ consts.APP_GIT_HEAD }}</td>
        </tr>
      </table>
      <table>
        <tr></tr>
        <tr></tr>
      </table>
    </div>
    <p>
      推荐在
      <a :href="pj.homepage">网页版</a> 阅读本书，因为网页版是最新版本。
    </p>
    <p>
      你也可以点击这里的连接来
      <a
        :href="pj.homepage + '/health58.pdf'"
        download="健康知识学习实操手册.pdf"
      >
        查看或下载
      </a>
      最新版本的 PDF 文件。
    </p>
  </div>
</template>

<script setup lang="ts">
import pj from "../../../package.json";
import consts from "../../consts";
</script>
